[client]
user = bronto
password = bronto

[mysqld]
datadir=/var/lib/mysql/mysql5
socket=/var/lib/mysql/mysql.sock
user=mysql
server-id=1
log-bin=/var/lib/mysql/mysql5.bin/binlog
replicate_ignore_db=mysql
replicate_wild_ignore_table=mysql.%
skip_slave_start
log_error=/var/lib/mysql/mysql5/error.log
sql_mode='PIPES_AS_CONCAT,NO_AUTO_VALUE_ON_ZERO,TRADITIONAL'
validate_password = OFF
